<launch>                                                                        
  <node pkg="image_publisher" type="image_publisher" name="image_publisher"
        args="$(find pmb2_description)/Media/materials/textures/face.jpg" >
    <param name="flip_horizontal" value="false" />
    <param name="flip_vertical" value="false" />
    <param name="frame_id" value="base_link" />
    <param name="publish_rate" value="1" />
    <remap from="/image_publisher/image_raw" to="screen/face" />
  </node>
</launch>