<launch>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find pmb2_arm_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <!-- We have a robot connected (simulated in gazebo), so publish its joint states -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="true"/>
    <remap from="/joint_states" to="/pmb2/joint_states" />
    <rosparam param="source_list">[/pmb2/joint_states]</rosparam>
  </node> -->

  <!-- Run the main MoveIt executable -->
  <include file="$(find pmb2_arm_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <!-- Run Rviz -->
  <!-- <include file="$(find pmb2_arm_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include> -->

</launch>