<launch>
    <include file="$(find pmb2_arm_moveit_config)/launch/moveit_planning_gazebo.launch" />

    <arg name="config" default="$(find pmb2_apps)/config/config_global_moveit_palbator.yaml" doc="Path to parameter config file"/>


    <node name="moveit_global_controller" pkg="pmb2_apps" type="moveit_global_controller.py" output="screen">
        <rosparam file="$(arg config)"/>
    </node>
</launch>
