<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="face_screen" params="parent *origin">

    <link name="face_screen_link" >
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.08"/>
        <inertia ixx="0.01" ixy="0.001" ixz="0.001" iyy="0.01" iyz="0.001" izz="0.01"/>
      </inertial>
      <visual>
        <geometry>
            <box size="0.01 0.18 0.12"/>
        </geometry>
        <!--<geometry>
          <mesh filename="package://pmb2_description/meshes/display/face_screen.dae" scale="0.001 0.001 0.001"/>
        </geometry>  -->     
          <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="White">
          <color rgba="1 1 1 0.5"/>
        </material>          
      </visual>
    </link>  


    <!-- JOINTS -->

    <joint name="palbator_arm_face_screen_joint" type="fixed">
      <parent link="palbator_arm_column"/>
      <child link="face_screen_link"/>
        <origin xyz="-0.04 0.0 1.505" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </joint>

  </xacro:macro>

</robot>